<head>
    <link rel="stylesheet" href="/stylesheet/resultadoBusqueda.css">
    <title>Resultado de busqueda</title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
            
           
         <div> <h3>Resultado de busqueda:</h3> </div> 
        
          
           <ul class="conteiner">
               
                  
                    <%  if(resultados.length ==  0 ){ %>
                        <h3>No se ha encontrado ningún resultado para: "<%= searchData %>"</h3>
                        
                     <%  } else if(resultados) {%>  
                        <% for (let i = 0; i<resultados.length; i++) { %>
                         <li class="item">   
                        <a href="/info/esp/<%=resultados[i].id %>"><%= resultados[i].nombre %></a>  
                     <% } %> 
                     <% } %> 
                    </li> 
                    
                
              
           </ul>

        </div>
    </div>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>